a {
  all: unset;
}

.cover-image {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  border-radius: 5px;
}

.single-song__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: auto;
  padding: 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.single-song__container:hover {
  background-color: rgb(33, 33, 33);
}

.single-song__card-wrapper {
  position: relative;
}

.single-song__container--has-play:hover {
  transform: scale(1.03);
}

.single-song__title {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 0;
}

.single-song__subtext {
  color: gray;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 0;
}

.single-song__play-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: scale(1.5) translateX(-50%) translateY(-120%);
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

.single-song__card-wrapper:hover .single-song__play-button {
  opacity: 1;
  visibility: visible;
  transform: scale(1.5) translateX(-50%) translateY(-140%);
}

.cover-image-wrapper {
  position: relative;
}
