.song-collection-container {
  display: flex;
  justify-content: center;

  padding-top: 25px;

  /* background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 1) 70%,
    rgba(30, 215, 96, 1) 100%
  ); */
}
