.playback-controls-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.playback-middlesection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-track-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.current-track-display__cover {
  width: 75px;
  margin: 15px;
  flex-shrink: 0;
  border-radius: 5px;
}

.current-track-display__text {
  text-align: left;
  color: white;
}

.current-track-display__text--title {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0;
}

.current-track-display__text--subtext {
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 0;
}

.volume-control-container {
  display: flex;
  padding-right: 30px;
}
