header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: black;
}

.cl-userButtonAvatarBox {
  width: 50px;
  height: 50px;
}

button[component="SignInButton"] {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 100;
  margin: 0;
  padding: 2px 25px;
  background-color: #ffffff;
  color: #1e1e1e;
  border-radius: 50px;
  border: none;
  transition: all 0.5s;
}

button[component="SignInButton"]:hover {
  transform: scale(1.04);
}

.logo {
  width: 200px;
  height: auto;
}
