.control-button {
  border: none;
  background-color: transparent;
}

.icon {
  width: 50px;
  cursor: pointer;
}

svg path {
  fill: white;
}

.control-button-disabled svg path {
  fill: gray;
}

/* svg path:hover {
  fill: white;
} */
