.main-content {
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.track__content-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* justify-content: center;
  align-items: center; */
}

.track__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  width: 70vw;
}

.track__header-section {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 70vw;
}

.track__cover-image {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
}

.track__text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.track__name-heading {
  font-size: 6rem;
  margin: 0;
}

.track__artist-heading {
  color: #ababab;
  margin: 0;
  font-weight: 100;
}

.track__playback-controls {
  display: flex;
}

.track__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
}

.track__list:hover {
  background-color: rgb(33, 33, 33);
}

.track__list-title-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track__back-home-button {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0;
  padding: 15px 25px;
  background-color: #ffffff;
  color: #1e1e1e;
  border-radius: 50px;
  border: none;
  transition: all 0.5s;
}

.track__back-home-button:hover {
  background-color: #ffffff;
  transform: scale(1.04);
}

.track__play-button {
  background-color: transparent;
  border: none;
  transform: scale(1.5);
}

.track__font-grey {
  color: #ababab;
}

.track__list-title {
  font-size: 1.1rem;
}

.track__list-artist {
  font-size: 0.9rem;
}

.track__play-icon {
  display: none;
}

.track__list:hover .track__identifier {
  display: none;
}

.track__list:hover .track__play-icon {
  display: block;
}

.track__span {
  width: 15px;
}

.track__table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  border-color: #ababab;
  margin-bottom: 20px;
}
